@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-secondary: var(--secondary)
}

:root {
  --background: #f1f1f1;
  --primary: #1f8b70;
  --text:#242424;
  --secondary:#ffffff;
}

body {
  background: var(--background);

}
/* 
*{
  @apply border
} */