@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-secondary: var(--secondary)
}

:root {
  --background: #fdf4ff;
  --primary: #5105ca;
  --text:#242424;
  --secondary:#ffffff;
}

body {
  background: var(--background);

}
