@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-text: var(--text);
  --color-secondary: var(--secondary)
}

:root {
  --background: #0a0a0a;
  --primary: #e0fffa;
  --text:#e2e2e2;
  --secondary:#292929;
}

body {
  background: var(--background);

}
/* 
*{
  @apply border
} */